body {
    margin: 0;
    padding: 0;
    color: #202124;
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../assets//images/bg.png');
    overflow-y: scroll;
}

.icon {
    width: 24px;
    height: 24px;
}


nav {
    z-index: 999;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

#title {
    text-align: center;
    color: #fff;
    background-color: #ffffff;
    font-size: 1.4em;
    padding: 4px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#container {
    margin-top: 20px;
}

/* clearfix because of floats */
#container:before,
#container:after {
    content: "";
    display: table;
}

#container:after {
    clear: both;
}

#container .item {
    width: 100% !important;
    height: fit-content !important;
    padding-left: 10px;
    margin-bottom: 15px;
}

#container div[class^="item-head"] {
    display: block;
    float: left;
    font-weight: bolder;
}

#container div[class^="item-tail"] {
    display: block;
    width: 100% !important;
}

#container img.item-type-icon {
    float: left;
    padding-right: 4px;
    width: 24px;
    height: 24px;
}

#container div[class^="item-title"] {
    float: left;
    font-weight: bolder;
}

#container div[class^="item-brief"] {
    width: 100% !important;
    padding: 4px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    cursor: pointer;
}

#container .item-type-doc {
    border-left: 4px solid rgb(82, 168, 226);
}

#container .item-type-audio {
    border-left: 4px solid rgb(116, 116, 116);
}

#container .item-type-image {
    border-left: 4px solid rgb(215, 218, 37);
}

#container .item-type-video {
    border-left: 4px solid rgb(95, 187, 130);
}

.previewContent {
    max-height: 90vh;
    overflow-y: scroll;
}


.item img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    border-radius: 4px;
}

.first-item {
    clear: both;
}

/* remove margin bottom on last row */
.last-row,
.last-row~.item {
    margin-bottom: 0;
}

#imgDetail div {
    display: block;
    padding: 4px 12px 4px;
    overflow-x: scroll;
}

#fileDetail .container {
    padding: 4px 8px;
}

#fileDetail .container .title {
    text-align: center;
}

#fileDetail .fileInfo {
    padding: 4px 8px;
}

#result-stats {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Google Sans, arial, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8px;
    color: #70757a;
    font-size: 14px;
    line-height: 43px;
}

#searchingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    color: #202124;
    text-align: center;
    background-color: #fff;
    background-size: cover;
    /* background-image: url('/static/assets/images/wallhaven-ne16m8.jpg'); */
    z-index: 999;
}

#searchingPage .logo {
    margin-top: 20vh;
}

#searchingPage .searchingBar {
    display: flex;
    align-items: stretch;
    width: fit-content;
    margin: 30px auto;
    padding: 0 12px;
    height: 40px;
    border-radius: 18px;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    overflow: hidden;
}

#searchingPage .searchingBar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

#searchingPage .searchingBar li {
    list-style: none;
    height: 38px;
    line-height: 38px;
}

#searchingPage .searchingBar input {
    flex: 2;
    outline: #fff;
    border: 0px solid rgb(255, 255, 255);
}

#searchingPage .searchingBar .searchButton {
    flex: 1;
    width: 40px;
    height: 38px;
    line-height: 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url('/static/assets/images/search.svg');
    cursor: pointer;
}


footer {
    display: block;
    width: 100%;
    padding: 14px auto;
    text-align: center;
    font-size: 14px;
    color: #ddd;
}