<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云镜</title>
    <link rel="stylesheet" href="/static/pkg/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="/static/pkg/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <script src="/static/pkg/jquery-3.6.0/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/assets/images/CloudMirror.svg" width="30" height="30" class="d-inline-block align-top"
                alt="">
            &nbsp;云镜
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">全部</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">文档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">图片</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="#">音乐</a>
                </li>
                <a class="nav-link" href="#">视频</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">统计</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>

    <!-- Loading -->
    <div id="loadingView" class="text-center">
        <div class='body'>
            <span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class='base'>
                <span></span>
                <div class='face'></div>
            </div>
        </div>
        <div class='longfazers'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>Loading......</h1>
    </div>

    <!-- CONTENT -->
    <div id="container" class="container">
        <!-- Text CONTENT -->
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-6">
                <div class="item item-type-doc">
                    <div class="item-head-doc"><img class="item-type-icon" src="/static/assets/images/doc.svg" alt=""
                            srcset=""><span class="item-doc-title">什么是云镜？</span></div>
                    <div class="item-brief-doc">
                        云镜，英文名CloudMirror(简称CM)，是一款站内资源搜索引擎，能够搜索文本，图片，视频，音乐，软件依赖包等资源，可自定义资源类型，扩展度高。</div>
                </div>

                <!-- Music CONTENT -->
                <div class="item item-type-audio">
                    <div class="item-head-audio"><img class="item-type-icon" src="/static/assets/images/audio.svg"
                            alt="" srcset=""><span class="item-audio-title">小哆啦之歌</span></div>
                    <div class="item-brief-audio">
                        <audio controls src="/static/assets/audios/example.mp3">
                            Your browser does not support the
                            <code>audio</code> element.
                        </audio></div>
                </div>

                <!--Image CONTENT -->
                <div class="item item-type-image" data-toggle="modal" data-target=".bd-CloudMirror-modal-lg">
                    <div class="item-head-image"><img class="item-type-icon" src="/static/assets/images/image.svg"
                            alt="" srcset=""><span class="item-image-title">云镜Logo</span></div>
                    <div class="item-brief-doc">
                        <img src="/static/assets/images/CloudMirror.svg" height="100" />
                    </div>
                </div>

                <!--Video CONTENT -->
                <div class="item item-type-video" data-toggle="modal" data-target=".bd-CloudMirror-modal-lg">
                    <div class="item-head-image"><img class="item-type-icon" src="/static/assets/images/video.svg"
                            alt="" srcset=""><span class="item-image-title">演示视频</span></div>
                    <div class="item-brief-doc">
                        <video controls="controls" autoplay="autoplay">
                            <source src="/static/assets/videos/example.ogg" type="video/ogg" />
                            <source src="/static/assets/videos/example.mp4" type="video/mp4" />
                            <source src="/static/assets/videos/example.webm" type="video/webm" />
                            <object data="/static/assets/videos/example.mp4" width="320" height="240">
                                <embed width="320" height="240" src="/static/assets/videos/example.swf" />
                            </object>
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>
        </div>
        <!-- 按钮组 -->
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-light">1</button>
                <button type="button" class="btn btn-light">2</button>
                <button type="button" class="btn btn-light">3</button>
                <button type="button" class="btn btn-light">4</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light">下一页</button>
            </div>
        </div>
    </div>
    <!-- Modal框 -->
    <div class="modal fade bd-CloudMirror-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div id="fileDetail" class="modal-content">
                <img src="/static/assets/images/CloudMirror.svg" alt="">
                <hr>
                <div class="text-light bg-dark"></div>
            </div>
        </div>
    </div>

    <footer>
        @CloudMirror2022
    </footer>

    <script src="/static/pkg/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <script src="/static/pkg/rowGrid.js-master/jquery.row-grid.min.js"></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>